
.navbar{
	color:#FFFFFF
	font-size:125%;
	border-color: transparent;
	padding-left: 45px;
	padding-right: 45px;
}
.navbar-default{
	background-color: transparent;

}
.image{
	position:relative;
	width:100%;
}
#npimg{
	position:relative;
	wideth:100%;
}
#footer{
	bottom:0;	

}
#headline{
	position:absolute;
	top:200px;
	left:75px;
	text-shadow: #444 0 1px 1px;
	color: white;
	width:100%;
	font-size: 80px;
}
#contactheadline{
	text-align center;

}
#contacttable{
	margin: 100px;
}

.row{

	padding bottom: 40px;

}

.bs-example-navbar-collapse-1 {
	border:none;
	background-color:transparent;
	color: gray;
}
.navbar-brand: {
	color:navy;
}
.table:{
	color:gray;
	;