
.navbar{
	color:#FFFFFF
	font-size:125%;
	border-color: transparent;
	padding-left: 45px;
	padding-right: 45px;
}
.image{
	position:relative;
	width:100%;

}
h1{
	position:absolute;
	top:200px;
	left:75px;
	text-shadow: #444 0 1px 1px;
	color: white;
	width:100%;
	font-size: 80px;
}

.row{

	padding bottom: 40px;

}

.bs-example-navbar-collapse-1 {
	border:none;
	background-color:transparent;
	color: gray;
}
.navbar-brand: {
	color:navy;
}
.table:{
	color:gray;
	;