body{
	background-image: url(chicagotimelapse.mp4);

}
.videowrapper iframe {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height:0;

	

}
.bs-example-navbar-collapse-1 {
	border:none;
	background-color:transparent;
	color: gray;
}
.navbar-brand: {
	color:navy;
}
.table:{
	color:gray;
	;